<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
	<!--<add key="TerminalsConnection" value="Data Source=sql02t;User Id=terminals;Password=terminals;Initial Catalog=Terminals"></add>-->
	</appSettings>
    <configSections>
    </configSections><startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>