<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SSH" type="Terminals.Configuration.Files.Main.Keys.KeysSection, Terminals.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="settings" type="Terminals.Configuration.Files.Main.TerminalsConfigurationSection, Terminals.Configuration"/>
  </configSections>
  <settings>
    <savedConnectionsList>
      <clear />
    </savedConnectionsList>
    <pluginOptions>
      <plugin name="TEXT_EnabledForProtocols" value="ALL" />
      <plugin name="AUTOIT_EnabledForProtocols" value="EXPLORER;HTTP;HTTPS;PUTTY;RADMIN;GENERIC;TERMINAL;SSH;ICA;RAS;RDP;VMRC;VNC;TEXT" />
      <plugin name="AUTOIT_ProgramPath" value="Plugins\AutoIt3.exe" />
    </pluginOptions>
    <toolStripSettings>
      <add name="favoriteToolBar" visible="false" row="0" dock="Top" left="0" top="0" />
      <add name="menuStrip" visible="true" row="3" dock="Top" left="0" top="0" />
      <add name="SpecialCommandsToolStrip" visible="false" row="2" dock="Top" left="3" top="50" />
      <add name="toolbarStd" visible="true" row="4" dock="Top" left="0" top="24" />
      <add name="tsRemoteToolbar" visible="false" row="1" dock="Top" left="0" top="25" />
    </toolStripSettings>
  </settings>
</configuration>